<html lang="fr">

{% include 'components/head.html' %}

<body>

<div class="container">

{% include 'components/nav_component.html' %}

<div class="page">

    {% include 'components/page_top.html' %}

    <div class="page-content">

        <div class="plot-container">
            <div class=" plot plot-100">
                {{ plot_avg_price | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_review | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_selling_platform | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_avg_platform_price | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_avg_discount | safe }}
            </div>
        </div>



    </div>




</div>




</div>


</body>
</html>