<html lang="fr">

{% include 'components/head.html' %}

<body>

<div class="container">

{% include 'components/nav_component.html' %}

<div class="page">

    <div class="box-top">

        <h1>Accueil</h1>

    </div>

    <div class="box-statistics">

        <div class="box-stat">

            <i class="fi fi-sr-globe"></i>

            <div class="box-stat-numbers">
                <h2>{{ nb_data | safe }}</h2>
                <span>données étudiées</span>
            </div>

        </div>

        <div class="box-separator"></div>

        <div class="box-stat">

            <i class="fi fi-sr-link-alt"></i>

            <div class="box-stat-numbers">
                <h2>InstantGaming.com</h2>
                <span>site scrapé</span>
            </div>

        </div>

    </div>

    <div class="page-content">

        <div class="plot-container">
            <div class=" plot plot-100">
                {{ plot_avg_price | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_review | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_selling_platform | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_avg_platform_price | safe }}
            </div>

            <div class="plot plot-50">
                {{ plot_avg_discount | safe }}
            </div>
        </div>



    </div>




</div>




</div>


</body>
</html>