<div class="box-top">

        <h1>Accueil</h1>

</div>

    <div class="box-statistics">

        <div class="box-stat">

            <i class="fi fi-sr-globe"></i>

            <div class="box-stat-numbers">
                <h2>13 000</h2>
                <span>données étudiées</span>
            </div>

        </div>

        <div class="box-separator"></div>

        <div class="box-stat">

            <i class="fi fi-sr-globe"></i>

            <div class="box-stat-numbers">
                <h2>13 000</h2>
                <span>données étudiées</span>
            </div>

        </div>

                <div class="box-separator"></div>

        <div class="box-stat">

            <i class="fi fi-sr-globe"></i>

            <div class="box-stat-numbers">
                <h2>13 000</h2>
                <span>données étudiées</span>
            </div>

        </div>

    </div>